body {
  padding: 0;
  /*background-color: #090a0c;*/
  background-color: #090a0c;
  font-family: "Lato", Helvetica, Arial, "Lucida Grande", sans-serif;
  letter-spacing: .8px;
  color: #fff;
  margin: 0 auto;
  max-width: 100%;
  width:94%;
  padding-top:25px;
}

.legal-center-div {width:100%;}

.is-hidden {
  visibility: hidden;
}



#video-and-chat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 440px;
  background-color:#000;
  border: 0px solid #1a1a1a;
  border-bottom: 0;
}
#video-and-chat > * {
  flex: 1 1 auto;
}
#chat-iframe {
  width: 100%;
  height: 100%;
}

#twitch-video,
#twitch-video iframe {
  width: 100%;
  height: 100%;
}

.info {
  padding-top:10px;
  padding-bottom:12px;
  color:#ccc;
  font-weight:400;
}
.app-header {
  position:absolute;
  z-index:10;
  left:0;
  top:0;
  width:100%;
}
.app-rank {
  background-color:#000;
  border:1px solid #2f2f2f;
  position:fixed;
  top:0px;
  left:0px;
  line-height:48px;
  text-transform:uppercase;

}

.app-title {
  position: fixed;
  top: 0;
  left: 0px;
  padding: 0px;
  z-index: 12;
  text-transform:uppercase;
  font-weight:550;
  line-height:48px;
  background-color:#000;
  border:1px solid #2f2f2f;
}
.chat-message {

  -webkit-transition:all 1.0s ease-in-out;
  -moz-transition:all 1.0s ease-in-out;
  -o-transition:all 1.0s ease-in-out;
  transition:all 1.0s ease-in-out;
}
.app-value {
  background-color:#000;
  border:1px solid #2f2f2f;
  position:fixed;
  top:0px;
  right:0px;
  line-height:48px;
  text-transform:uppercase;
}
.nav {
  position: fixed;
  top: 0;
  right: 0px;
  padding: 0px;
  z-index: 12;
  text-transform:uppercase;
  font-weight:550;
  width:;
  line-height:48px;
  background-color:#000;
  border:1px solid #2f2f2f;
}
.nav :hover {
  opacity:.2;
  cursor:pointer;;
}
.left-nav {
  position: fixed;
  top: 0;
  left: 0px;
  padding: 0px;
  z-index: 12;
  text-transform:uppercase;
  font-weight:550;
  line-height:48px;
  background-color:#000;
  border:1px solid #242424;
}
.title {
  font-size:20px;
  padding-top:20px;
  padding-bottom:20px;
  font-weight:400;
  color:#ccc;
}
.buy-buton {
  margin: 10px 0;
  display: inline-block;
  background-color:#40476e;
  border:1px solid #40476e;
  padding:10px;
  color:#FFF;
  border-radius:10px;
  padding-left:16px;
  padding-right:16px;
  font-size:16px;
		text-transform:uppercase;
}




.index-wrapper {
  width: 100%;
  position: relative;
  text-align: center;
}


.im-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
}

.im-chat.reveal-chat > .chat-row {
  margin-top: 0;
  opacity: 1;

  transition: margin-top 500ms,
  opacity 500ms;
}

.im-icon {
  flex: 1 1 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px;
  background-color:#050608;
  border-right: 0px solid #242424;
  border-left: 1px solid #242424;
  border-bottom: 0px solid #242424;
  cursor: pointer;
  opacity: .25;
}
.im-icon.is-selected{
  opacity: 1;
}
.im-icon:hover {
  opacity: .6;
}

.im-icon.box-kik { background-image: url(/img/icon-kik.png); }
.im-icon.box-discord { background-image: url(/img/icon-discord.png); }
.im-icon.box-twitch { background-image: url(/img/icon-twitch.png); }
.im-icon.box-fb { background-image: url(/img/icon-fb.png); }

.im-chat {
  width: 428px;
  height: 480px;
  overflow: hidden;

  margin: 0 auto;
  padding: 0;
  border-radius: 5px;
}

.chat-row {
  display: block;
  margin-top: 50px;
  opacity: 0;
  color: #666;
  width: 100%;
}
.chat-row > .chat-inner {
  position: relative;
  border: 2px solid #050608;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
	background-color:#050608;
}
.chat-inner p {
  max-width: 235px;
  padding: 10px 15px 15px 15px;
  margin: 0;
}
.chat-inner p a {
  display: block;
}
.chat-inner img {
  margin: 5px 5px 2px 5px;
}
.chat-inner img {
  border-radius: 7px;
  height: 100%;
  max-width: 254px;
  height: auto;
}
.chat-inner:before {
  position: absolute;
  width: 14px;
  height: 12px;
  top: 15px;
}
.chat-left .chat-inner:before {
  content: url('/img/chat-left-caret.png');
  left: -12px;
}
.chat-right .chat-inner:before {
  content: url('/img/chat-right-caret.png');
  right: -12px;
}

.chat-row.chat-left {text-align: left;}
.chat-row.chat-right {text-align: right;}

.hover-link:hover {
  opacity: .5;
  cursor: pointer;
}

.channel-link {
  text-transform: lowercase;
}
.im-service-name {
  text-transform: capitalize;
}

a, a:link, a:active, a:visited {
  text-decoration: underline;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
}

a:hover {
  text-decoration: none;
  opacity: .5;
}

.main-title {
	color:#ccc; font-size:18px; font-weight:500;
}

#im-info {
	color:#ccc; font-size:18px; font-weight:500;
}


.overlay-alert {
	z-index: 1000;
	position: absolute;
	top: 0;
	left: 0;
	text-align: left;
	width: 100%;
	height: 200%;
	background: rgba(0,0,0,0.9);
}

.overlay-container {
	background-color: #121317;
	position: fixed;
	font-family: "Lato", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 500;
	letter-spacing: 1.1px;
	width: auto;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	border-radius: 5px;
	z-index: 2000;
	padding: 20px;
}

.overlay-title {
	line-height: 28px;
	font-size: 22px;
	color: #ccc;
}

.overlay-message {
	padding: 20px 0 20px 0;
	font-size: 14px;
	line-height: 20px;
	color: #aaa;
}

.overlay-button {
	background-color: #1fa67a;
	border-radius: 5px;
	color: #090a0c;
	padding: 10px 15px;
	font-size: 16px;
	border: 0;
}

.overlay-button:hover {
	opacity: .5;
	cursor: pointer;
}

.loader-circle {
  font-size: 4px;
   margin: 20px auto;
   text-indent: -9999em;
   width: 11em;
   height: 11em;
   border-radius: 50%;
   background: #3a577e;
   background: -moz-linear-gradient(left, #3a577e 10%, rgba(255, 255, 255, 0) 42%);
   background: -webkit-linear-gradient(left, #3a577e 10%, rgba(255, 255, 255, 0) 42%);
   background: -o-linear-gradient(left, #3a577e 10%, rgba(255, 255, 255, 0) 42%);
   background: -ms-linear-gradient(left, #3a577e 10%, rgba(255, 255, 255, 0) 42%);
   background: linear-gradient(to right, #3a577e 10%, rgba(255, 255, 255, 0) 42%);
   position: relative;
   -webkit-animation: load3 1.4s infinite linear;
   animation: load3 1.4s infinite linear;
   -webkit-transform: translateZ(0);
   -ms-transform: translateZ(0);
   transform: translateZ(0);
}
.loader-circle:before {
  width: 50%;
   height: 50%;
   background: #3a577e;
   border-radius: 100% 0 0 0;
   position: absolute;
   top: 0;
   left: 0;
   content: '';
}
.loader-circle:after {
  background: #090a0c;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.flex-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.game-flex-item {
  flex: 1 0 0;
}

.rank-flex {
  line-height: 65px;
  flex: 0 0 auto;
  text-align: center;
  width: 70px;
}

.channel-avatar-flex {
  flex: 0 0 auto;
  width: 55px;
  padding-right: 10px;
  text-align: center;
}

.channel-name-flex {
  line-height: 65px;
  flex: 2 0 0;
  text-align: left;
  text-overflow: ellipsis;
  min-width: 180px;

}

.retention-flex {
  line-height: 65px;
  flex: 1 0 0;
  text-align: center;
  min-width: 85px;
}

.viewers-flex {
  line-height: 65px;
  flex: 1 0 0;
  text-align: center;
}

.card-value-flex {
  line-height: 65px;
  flex: 1 0 0;
  text-align: center;
}

.card-button-flex {
  flex: 0 1 auto;
  width: 185px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 5px;
	padding-right:10px;
}

.im-button {
  margin: 3px;
  padding:4px;
  border: 2px solid #2f2f42;
  border-radius: 10px;
  opacity: 1.0;
	
}

.im-button:hover {
  opacity: 1;
  cursor: pointer;
}


.game-icons {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.game-icons .game-icon {
  height: 50px;
  flex: 1 1 auto;
  padding: 10px 10px;
  opacity: 0.8;
  cursor: pointer;
  background-color: #1b1d28;
}
.game-icon.is-selected {
  background-color: #050607;
}
.game-icon:hover {
  opacity: 1;
}
.game-icons .game-icon img {
  width: auto;
  height: 100%;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  line-height: 48px;
  background-color: #0e1016;
  padding: 0px;
  z-index: 5;


}

.top-feature-bar {
  position: fixed;
  top: 48px;
  left: 0;
  width: 100%;
  height: auto;
	line-height:48px;
  background-color: #090a0c;
  padding-top: 0px;
	padding-bottom: 0px;
  z-index: 5;
	text-align:center;
	border-top:1px solid #1b1e28;
}
.top-feature-bar .feature-button {
  font-weight:600;
  padding:6px;
  padding-left:8px;
  padding-right:8px;
  border:2px solid #3a577e;
  text-transform: uppercase;
  font-size:12px;
  color:#3a577e;
  font-weight:600;
  border-radius:10px;
  margin: 0px;
  cursor: pointer;
}

.top-bar .logo {
  height: 100%;

}
.top-bar .top-bar-icons {
  float: right;
	padding-right:3px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.top-bar .top-bar-icons img {
  width: 26px;
  height: auto;
  cursor: pointer;
  margin-left: 10px;
  opacity: 1.0;
  border: 2px solid #999;
  border-radius: 5px;
}
.top-bar .top-bar-icons img:hover {
  opacity: .5;
}

.info .desktop-text .top-bar-icons img:hover {
  opacity: .5;
	cursor: pointer;
}

.index-wrapper {
  margin-top: 100px;
}
.animation-title {
  margin-top: 0px;
}
#game-info {
  background-color: #0e1016;
  color: #ccc;
	text-transform:uppercase;
	font-size:12px;
	font-weight:600;
}
#table-header-row {
  background-color: #1e2329;
  color: #666666;
}

.mobile-text {
  display: none;
}

.top-bar-info {
	padding-right: 6px;
	font-size: 12px;
	text-transform: uppercase;
	color: #666;
	font-weight: 600;
}

.top-bar-logo {
	padding-right: 6px;
	font-size: 12px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
}

.preview-video {width:100%;overflow:hidden; }

#header-text {
 
	 padding-top:80px; padding-bottom:80px;

}
@media (max-width: 600px) {
	
	.legal-center-div {width:100%;}
	
	body {width:100%;}
	
	.index-wrapper {
	  margin-top: 190px;
	}
	
	.top-feature-bar {
	  position: fixed;
	  top: 48px;
	  left: 0;
	  width: 100%;
	  height: auto;
		line-height:40px;
	  background-color: ;
	  padding-top: 18px;
		padding-bottom: 0px;
	  z-index: 5;
		border-top:1px solid #1b1e28;
			text-align:center;

	}
	
  #im-info {
    
    font-size:14px;
    padding:5px;
    
  }
  #video-and-chat {
    flex-direction: column;
    height: auto;
  }
  
  .main-title {
    color:#ccc; font-size:16px; font-weight:500;
  }
  

  .buy-buton {
    background-color:#3f3960;
    border:1px solid #3f3960;
    padding:10px 22px 10px 22px;
    color:#ccc;
		text-transform:uppercase;
    border-radius:12px;
    font-size:18px;
		
  }

  .flex-container {
    font-size: 12px;
  }

  .channel-avatar-flex {
    display: none;
  }

  .channel-name-flex {
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
  }

  .retention-flex {
    display: none;
  }

  .viewers-flex {
    display: none;
  }

  .card-value-flex {
    display: none;
  }

  .im-chat {
    width: auto;
  }
  
  .desktop-text {
    display: none;
  }
  .mobile-text {
    display: inline;
  }

  .channel-name-flex {
    min-width: 60px;
    max-width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .game-icons .game-icon {
    height: auto;
    max-height: 60px;
    padding: 5px;
  }
  .game-icons .game-icon img {
    width: 100%;
    height: auto;
  }

  .top-bar-info {
	  display: none;
  }
	
  .im-button {
    margin: 1px;
    padding: 0;
  }

  .game-header-image {
	 width: 90%;

  }
	
	.preview-video {display: none; }


  #header-text {
	  display: none;
		text-align:center;
		 padding-top:10px; padding-bottom:10px;

  }
}
