body {
  padding: 0;
  background-color: #090a0c;
  font-family: "Lato", Helvetica, Arial, "Lucida Grande", sans-serif;
  letter-spacing: .8px;
  color: #fff;
  margin: 0 auto;
  max-width: 100%;
  width:90%;
  padding-top:25px;
}


#video-and-chat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 440px;
  background-color:#000;
  border: 1px solid #1a1a1a;
  border-bottom: 0;
}
#video-and-chat > * {
  flex: 1 1 auto;
}
#chat-iframe {
  width: 100%;
  height: 100%;
}

#twitch-video,
#twitch-video iframe {
  width: 100%;
  height: 100%;
}

.info {
  padding-top:10px;
  padding-bottom:10px;
  color:#666;
  font-weight:400;
}
.app-header {
  position:absolute;
  z-index:10;
  left:0;
  top:0;
  width:100%;
}
.app-rank {
  background-color:#000;
  border:1px solid #242424;
  position:fixed;
  top:0px;
  left:0px;
  line-height:48px;
  text-transform:uppercase;

}

.app-title {
  position: fixed;
  top: 0;
  left: 0px;
  padding: 0px;
  z-index: 12;
  text-transform:uppercase;
  font-weight:550;
  line-height:48px;
  background-color:#000;
  border:1px solid #242424;
}
.chat-message {

  -webkit-transition:all 1.0s ease-in-out;
  -moz-transition:all 1.0s ease-in-out;
  -o-transition:all 1.0s ease-in-out;
  transition:all 1.0s ease-in-out;
}
.app-value {
  background-color:#000;
  border:1px solid #242424;
  position:fixed;
  top:0px;
  right:0px;
  line-height:48px;
  text-transform:uppercase;
}
.nav {
  position: fixed;
  top: 0;
  right: 0px;
  padding: 0px;
  z-index: 12;
  text-transform:uppercase;
  font-weight:550;
  width:;
  line-height:48px;
  background-color:#000;
  border:1px solid #242424;
}
.nav :hover {
  opacity:.2;
  cursor:pointer;;
}
.left-nav {
  position: fixed;
  top: 0;
  left: 0px;
  padding: 0px;
  z-index: 12;
  text-transform:uppercase;
  font-weight:550;
  line-height:48px;
  background-color:#000;
  border:1px solid #242424;
}
.title {
  font-size:20px;
  padding-top:20px;
  padding-bottom:20px;
  font-weight:400;
  color:#ccc;
}
.buy-buton {
  line-height:120px;
  background-color:#40476e;
  border:1px solid #40476e;
  padding:22px;
  color:#FFF;
  border-radius:5px;
  padding-left:40px;
  padding-right:40px;
  font-size:22px;
}

.index-wrapper {
  width: 100%;
  position: relative;
  text-align: center;
}


.im-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
}

.im-chat.reveal-chat > .chat-row {
  margin-top: 0;
  opacity: 1;

  transition: margin-top 500ms,
  opacity 500ms;
}

.im-icon {
  flex: 1 1 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px;
  background-color:#050608;
  border-right: 0px solid #1a1a1a;
  border-left: 1px solid #1a1a1a;
  border-bottom: 1px solid #1a1a1a;
  cursor: pointer;
  opacity: .6;
}
.im-icon.is-selected{
  opacity: 1;
}
.im-icon:hover {
  opacity: 1;
}

.im-icon.box-kik { background-image: url(/img/icon-kik.png); }
.im-icon.box-discord { background-image: url(/img/icon-discord.png); }
.im-icon.box-twitch { background-image: url(/img/icon-twitch.png); }
.im-icon.box-fb { background-image: url(/img/icon-fb.png); }


.im-chat {
  width: 428px;
  height: 590px;
  overflow: hidden;

  margin: 0 auto;
  padding: 20px 0 0 0;
  border-radius: 10px;
}

.chat-row {
  display: block;
  margin-top: 50px;
  opacity: 0;
  color: #666;
  width: 100%;
}
.chat-row > .chat-inner {
  position: relative;
  border: 2px solid #181818;
  border-radius: 10px;
  display: inline-block;
  margin: 20px;
}
.chat-inner p {
  max-width: 235px;
  padding: 10px 15px 15px 15px;
  margin: 0;
}
.chat-inner p a {
  display: block;
}
.chat-inner img {
  margin: 5px 5px 2px 5px;
}

.chat-inner img {
  border-radius: 7px;
  height: 100%;
}
.chat-inner:before {
  position: absolute;
  width: 14px;
  height: 12px;
  top: 15px;
}
.chat-left .chat-inner:before {
  content: url('/img/chat-left-caret.png');
  left: -12px;
}
.chat-right .chat-inner:before {
  content: url('/img/chat-right-caret.png');
  right: -12px;
}

.chat-row.chat-left {text-align: left;}
.chat-row.chat-right {text-align: right;}

.hover-link:hover {
  opacity: .5;
  cursor: pointer;
}

.channel-link {
  text-transform: lowercase;
}
.im-service-name {
  text-transform: capitalize;
}

a, a:link, a:active, a:visited {
  text-decoration: underline;
  font-size: 16px;
  color: #666;
  font-weight: 400;
}

a:hover {
  text-decoration: none;
  opacity: .5;
}

@media (max-width: 600px) {
  #video-and-chat {
    flex-direction: column;
    height: auto;
  }

  .buy-buton {
    line-height:120px;
    background-color:#3f3960;
    border:1px solid #3f3960;
    padding:16px;
    color:#FFF;
    border-radius:0px;
    padding-left:18px;
    padding-right:18px;
    font-size:14px;
  }

  .retention-flex {
    display: none;
  }

  .viewers-flex {
    display: none;
  }

  .card-value-flex {
    display: none;
  }

  .im-chat {
    width: auto;
  }

}
